<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We use your location to determine your country for a personalized experience.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need to access your location always for better app performance.</string>
</dict>
</plist>
